/* Setup de Variables con SCSS */
$col-gris1: #919191;
$col-gris2: #646464;
$col-gris3: #95a5a6;
$col-rosa: #FCCEFE;

/* Setup de Variables con root (reemplazado por variables SCSS)
:root{ 
    --gris1: #919191;
    --gris2:  #646464;
    --gris3: #95a5a6;
    --rosa: #FCCEFE;
} */