@import "estructura"; 
$btn-link-color: red;
$btn-link-hover-color: blue;
$btn-link-disabled-color: orange;
/* Importo Bootrstrap desde archivos descargados por npm */
@import "../node_modules/bootstrap/scss/bootstrap";


/* Setup de Variables con root (reemplazado por variables SCSS)
:root{ 
    --gris1: #919191;
    --gris2:  #646464;
    --gris3: #95a5a6;
    --rosa: #FCCEFE;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* Setup de Variables con SCSS */
$col-gris1: #919191;
$col-gris2: #646464;
$col-gris3: #95a5a6;
$col-rosa: #FCCEFE;

.navbar-toggler {

}


/* HEADER */
.cabecera-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo-maltes {
    height: 50px;
    margin: 1rem;
}

header {
    h1 {
        color: var(--gris1);
        font-size: xx-large;    
    }
    .sub-header {
        text-align: center;
        padding: 0.5rem;    
    }
    a {
        text-decoration: none;
        color: white;    
    }
    a:hover {
        color: $col-rosa;
        text-decoration: underline;
        text-shadow: 0px 0px 10px $col-rosa;
    }
}

.cont-navegador {
    background-color: $col-gris1;
}

#navegador {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 50px;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    li {
        list-style: none;
    }
}

/* VISTA CENTRAL */
.div-productos {
    border: 1px solid white;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
    color: $col-gris1;
    width: 200px;
    text-align: center;
    font-style: italic;
    margin: 20px;
    padding: 1rem;
    transition: transform 500ms ease; /*tiempo de transicion*/
    img {
        height: 200px;
    }
}

.div-productos:hover, div-productos:focus-within {
    transform: scale(1.05); /*transformacion*/
} 

.bloque-central {
    height: 70vh;
    max-width: 100%;
    background-image: url(../imagenes/imagen-central.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grupo-central {
    height: 50px;
    width: 600px;
    margin: 0px auto;
    text-align: center;
    text-shadow: 1px 1px 2px white;
}

.texto-central {
/*    padding-top: 20rem;*/
    color: #3f3f3f;
    font-size: x-large;
    h2 {
        padding-bottom: 1rem;
        animation-duration: 2s;
        animation-name: aparecer1;  
        font-weight: bold;  
    }
    a {
        text-decoration: none;
        color: $col-gris2;
        font-style: italic;
        animation-duration: 2s;
        animation-name: aparecer2;
    }
    a:hover {
        text-decoration: underline;
        font-weight: bold;
        text-shadow: 0px 0px 10px $col-rosa;
    }
}

@keyframes aparecer1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes aparecer2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0%;
    }
    100% {
        opacity: 1;
    }
}

.bloque__descuentos {
    background-color: $col-gris1;
    h2 {
        font-size: x-large;
        color: white;
        padding: 10px;
        margin: 20px 0 0 0;
        text-align: center;
    }
}

/* FOOTER */
footer {
    header {
        font-style: italic;
        font-weight: bold;
        padding-bottom: 5px;
    }
    li {
        list-style-type: none;
        list-style: none;
    }
    a {
        text-decoration: none;
        color: $col-gris1;
    }
    a:hover {
        color: $col-gris2;
        text-decoration: underline;
        text-shadow: 0px 0px 10px $col-rosa;
        /*font-weight: bold;*/
    }
}

@media (min-width: 992px) {
    .footers {
        .iconos {
            padding-right: 6px;
        }
        .footer-1 {
            color: $col-gris2;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 100px;
            padding: 5rem;
            margin: 0;
            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
        }
    }
    
    .li-icon {
        display: flex;
        align-items: center;
        p {
            padding: 0;
            margin: 0;
        }
    }
    
    .footer-2 {
        background-color: rgba(149, 165, 166, 0.2);
        color: $col-gris2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 250px;
        padding: 4rem;
        ul {
            padding: 0px;
        }
        .footer-2c ul {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    
    .footer-3 {
        background-color: $col-gris3;
        color: black;
        text-align: center;
        padding: 3rem;
        ul {
            display: flex;
            flex-direction: row;
            padding: 10px 0 10px 0;
            gap: 10px;
        
            justify-content: center;
        }
    }
}

@media (max-width: 992px) {
    .footers {
        .iconos {
            padding-right: 6px;
        }
        .footer-1 {
            color: $col-gris2;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 100px;
            padding: 5rem;
            margin: 0;
            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
        }
    }
    
    .li-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            padding: 0;
            margin: 0;
        }
    }
    
    .footer-2 {
        background-color: rgba(149, 165, 166, 0.2);
        color: $col-gris2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        padding: 4rem;
        ul {
            padding: 0px;
        }
        .footer-2c ul {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    
    .footer-3 {
        background-color: $col-gris3;
        color: black;
        text-align: center;
        padding: 3rem;
        ul {
            display: flex;
            flex-direction: row;
            padding: 10px 0 10px 0;
            gap: 10px;
            justify-content: center;
        }
    }
}

/* TABLA */
table {
    font-style: italic;
    border: 1px solid #000;
    border-spacing: 0;
    text-align: center;
    margin: 0 auto; /*centrado de tabla*/
    th {
        background-color: #f7cd72;
        font-weight: bold;
    }
}

th, td {
    background-color: #fce9c1;
    width: 25%;
}

.iconos {
    height: 20px;
}

header .iconos {
    padding-left: 1rem;
}

/* NAVEGADOR - PRODUCTOS */

#navbar {
    color: $col-gris1;
    padding: 2rem;
    display: flex;
    align-content: flex-start;
    h3 {
        font-style: italic;
        padding-bottom: 10px;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: $col-gris1;
    }
    a:hover {
        color: $col-gris2;
        text-decoration: underline;
        text-shadow: 0px 0px 10px $col-rosa;
        /*font-weight: bold;*/
    }
}

/* FORMULARIO */ 
.formulario-contacto {
    padding: 2rem;
}    

.info-contacto {
    color: $col-gris1;
    font-style: italic;
    padding: 2rem;
}

@media (min-width: 992px) {
    .contenedor-contacto {
        display: flex;
        flex-direction: row;
    
        justify-content: center;
    }
    .formulario-contacto {
        width: 800px;
        padding: 2rem;
    }    
}

.div-formulario {
    justify-self: center;
    align-self: center;
}

fieldset {
    padding: 1.5rem;
    color: $col-gris2;
    background: radial-gradient(circle, rgba(255,231,242,1) 0%, rgba(252,233,193,1) 100%);
    border-radius: 10px;
    font-size: 17px;
    h3 {
        padding-bottom: 1rem;
        font-style: italic;
    }
}

fieldset { 
    border: 1px solid $col-gris2; 
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
    .form-label {
        margin-bottom: 0.5rem;
        .field {
            border: solid 1px $col-gris1;
            outline: none;
            padding: 10px;
            font-family: "Roboto", sans-serif;
            border-radius: 5px;
        }
        .field:focus, .field:hover {
            border-color: $col-rosa;
        }
    }
}

.barra-busqueda {
    display: flex;
    .form-control {
        border: solid 1px $col-gris1;
        outline: none;
        padding: 10px;
        font-family: "Roboto", sans-serif;
        border-radius: 3px;
        width: 45vh;

        margin-right: 1rem;
    }
}

.form-control:focus, .form-control:hover {
border-color: $col-rosa;
}

.form-control:focus {
    border-color: $col-rosa;
    box-shadow: 0 0px 40px -10px rgba(0, 0, 0, 0.45);
}

button, .button {
    border: 1px solid;
    width: 8rem;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    border-color: $col-gris1;
    font-style: italic;
    border-radius: 3px;
}

button:hover, .button:hover {
    background-color: $col-rosa;
    border-color: $col-rosa;
    font-weight:bolder;
}

button:focus, .button:focus {
    border-color: $col-rosa;
    box-shadow: 0px 0px 0px 1px $col-rosa;
    animation: anim-shadow .3s forwards;
}

@keyframes anim-shadow {
    100% {
        box-shadow: 0px 0px 50px 20px rgba(112, 111, 211, 0);
    }
}

/* PREGUNTAS FRECUENTES + QUIENES SOMOS */
.preguntas-frecuentes {
    color: $col-gris2;
    display: flex;
    justify-content: center;
}

.div-pag-preguntas {
    width: 60%;
}
@media (max-width: 992px) {
    .div-pag-preguntas {
        width: 90%;
    }
}

.div-pregunta, .div-pregunta h2 {
    padding: 1rem 0 1rem 0;
}

.mapa {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.quienes-somos {
    padding: 1rem;
    color: $col-gris2;
    display: flex;
    justify-content: center;
}

.preguntas-frecuentes li, .titulo-txt li {
    list-style: none;
    font-style: italic;
}

.titulo-txt {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 10px;
    width: 80%;
    h2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }
}

/* Perfiles - Quienes Somos */
.foto-perfil{
    width: 300px;
}

.titulo-txt img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit:cover;
    object-position: 0 25%;
}

.div-perfiles {
    padding-left: 5rem;
    padding-right: 5rem;
}

.perfil {
    display: flex;
    align-items: center;
    padding: 1rem;
    p {
        padding: 25px;
    }
    h3 {
        text-align: center;
        margin: 1rem;
    }
}

@media (max-width: 1250px) {
    .quienes-somos {
        padding: 0;
    }
    .div-perfiles {
        padding: 0;
        .perfil {
            display: flex;
            .foto-perfil {
                text-align: center;
                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    object-fit:cover;
                    object-position: 0 25%;
                }
            }
        }
        p {
            padding: 0;
        }
        .perfil-1 {
            flex-direction: column;
        }
        .perfil-2 {
            flex-direction: column-reverse;
        }
    }
    .titulo-txt {
        padding: 0;
        width: 80%;
    }
}

/* GRID PRODUCTOS */
.navbar {
    grid-area: navbar;
}

.grid-productos {
    display: grid;
    grid-template-areas: 
    "navbar div-productos div-productos div-productos"
    "navbar div-productos div-productos div-productos";

    grid-template-columns: 2fr 3fr 3fr 3fr;
    width: 90%;    
    margin: 0 auto; /*centrado del grid respecto del padre */
    padding-bottom: 2rem;
}
@media (max-width: 992px) {
    .grid-productos {
        display: flex;
        flex-direction: column;
    }
}

/* Carrousel */ 
.container {
    h3 {
        color: #3f3f3f;
        font-size: x-large;
        padding-bottom: 1rem;
        animation-duration: 2s;
        animation-name: aparecer2;  
        font-weight: bold; 
    }
}


/* 
.box-producto-1, .box-producto-2, .box-producto-3, .box-producto-4, .box-producto-5, .box-producto-6 {
    justify-self: center;
    align-self: center;
    margin: 2rem;
}
Reemplazado por le comando @each a continuación */

@each $boxNumber in 1, 2, 3, 4, 5, 6 {
    .box-producto-#{$boxNumber} {
        justify-self: center;
        align-self: center;
        margin: 2rem;
    }
}


.img-navbar-flex img {
    height: 50px;
}

.texto-maltes-navbar {
    font-family: "Roboto", sans-serif;
}