

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
:root{ /* Setup de Variables */
    --gris1: #919191;
    --gris2:  #646464;
    --gris3: #95a5a6;
    --rosa: #FCCEFE;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5rem;

}

/* HEADER */

.cabecera-principal {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.logo-header {
    padding: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo-maltes {
    height: 100px;
}


header h1 {
    color: var(--gris1);
    font-size: xx-large;
}

header .sub-header {
    text-align: center;
    padding: 0.5rem;
}


#navegador {
    background-color: var(--gris1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}

#navegador li {
    list-style:none
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: var(--rosa);
    text-decoration: underline;
    font-weight: bold;
}

/* VISTA CENTRAL */
.div-productos {
    border: 1px solid white;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
    color: var(--gris1);
    width: 200px;
    text-align: center;
    font-style: italic;
    margin: 20px;
    padding: 1rem;

    transition: transform 500ms ease; /*tiempo de transicion*/
}

.div-productos:hover, .div-productos:focus-within {
    transform: scale(1.05); /*transformacion*/
  }

.div-productos img {
    height: 200px;
}

/*
.box-productos {
    padding: 1rem;
}
*/

.bloque-central {
    height: 100vh;
    width: 100%;
    background: #000;
    vertical-align: middle;
}


.bloque-central {
    height: 50vh;
    max-width: 100%;
    background-image: url(imagenes/imagen-central.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.grupo-central {
    height: 50px;
    width: 600px;
    margin: 0px auto;
    text-align: center;
    text-shadow: 1px 1px 2px white;
}

.texto-central {
/*    padding-top: 20rem;*/
    color: #3f3f3f;
    font-size: x-large;
}

.texto-central h2 {
    padding-bottom: 1rem;

    animation-duration: 2s;
    animation-name: aparecer1;
}

.texto-central a {
    text-decoration: none;
    color: var(--gris2);
    font-style: italic;
    
    animation-duration: 2s;
    animation-name: aparecer2;
}


@keyframes aparecer1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes aparecer2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0%;
    }
    100% {
        opacity: 1;
    }
}

.texto-central a:hover {
    text-decoration: underline;
    font-weight: bold;
}


/* FOOTER */
footer header {
    font-style: italic;
    font-weight: bold;

}

.footers {
    padding: 2rem;
}


.footers div {
    padding: 0.5rem 0 0.5rem 0;
}

.footers .iconos {
    padding-right: 6px;
}

footer li {
    list-style-type: none;
    list-style: none;

}

.li-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

footer a {
    text-decoration: none;
    color: var(--gris2);

}

footer a:hover {
    color: var(--rosa);
    text-decoration: underline;
    font-weight: bold;
}

.footer-1 {
    color: var(--gris2);
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 30px;

    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);}

.footer-2 {
    background-color: rgba(149, 165, 166, 0.2);
    color: var(--gris2);

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
}

.footer-2c ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-3 {
    background-color: var(--gris3);
    color: black;
    text-align: center;
}

.footer-3 ul {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 0;
    gap: 10px;

    justify-content: center;
}


/* TABLA */

table {
    font-style: italic;
    border: 1px solid #000;
    border-spacing: 0;
    text-align: center;
    margin: 0 auto; /*centrado de tabla*/
}

table th {
    background-color: #f7cd72;
    font-weight: bold;
}

th, td {
    background-color: #fce9c1;
    width: 25%;
}

.iconos {
    height: 20px;
}

header .iconos {
    padding-left: 1rem;
}



/* NAVEGADOR - PRODUCTOS */
#navbar {
    padding: 2rem;
}

#navbar {
    color: var(--gris1);
}

#navbar li {
    list-style: none;
}

#navbar a {
    text-decoration: none;
    color: var(--gris1);
}


#navbar a:hover {
    color: var(--rosa);
    text-decoration: underline;
    font-weight: bold;
}


/* FORMULARIO */ 
.contenedor-contacto {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.info-contacto {
    color: var(--gris1);
    font-style: italic;
    padding: 1rem;

}

.formulario-contacto {
    width: 800px;
    padding: 1rem;
}

.div-formulario {
    justify-self: center;
    align-self: center;
}

fieldset {
    padding: 1.5rem;
    color: var(--gris2);
    background: radial-gradient(circle, rgba(255,231,242,1) 0%, rgba(252,233,193,1) 100%);
    border-radius: 10px;
    font-size: 17px;
}

fieldset h3 {
    padding-bottom: 1rem;
    font-style: italic;
}

.form-label {
    padding-bottom: 10px;
}

.form-label .field {
    border: solid 1px var(--gris1);
    outline: none;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    border-radius: 3px;
}

.field:focus, .field:hover {
    border-color: var(--rosa);
}

.barra-busqueda .form-control {
    border: solid 1px var(--gris1);
    outline: none;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    border-radius: 3px;
    width: 60vh;
}

.barra-busqueda .form-control:focus,
.barra-busqueda .form-control:hover {
    border-color: var(--rosa);
}
.barra-busqueda .form-control:focus {
    border-color: var(--rosa);
    box-shadow: 0 0px 40px -10px rgba(0, 0, 0, 0.45);
}


button, .button {
    border: 1px solid;
    width: 8rem;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    border-color: var(--gris1);
    font-style: italic;
    border-radius: 3px;
}

button:hover, .button:hover, button:focus, .button:focus {
    background-color: var(--rosa);
    border-color: var(--rosa);
    font-weight:bolder;
}


/* PREGUNTAS FRECUENTES + QUIENES SOMOS */
.preguntas-frecuentes {
    color: var(--gris2);

    display: flex;
    justify-content: center;
}

.div-pag-preguntas {
    width: 60%;
}

.div-pregunta, .div-pregunta h2 {
    padding: 1rem 0 1rem 0;
}

.mapa {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.quienes-somos {
    padding: 1rem;
    color: var(--gris2);

    display: flex;
    justify-content: center;
}

.preguntas-frecuentes li, .titulo-txt li {
    list-style: none;
    font-style: italic;
}

.titulo-txt {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 10px;
    width: 80%;
}

.titulo-txt h2, .titulo-txt {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.foto-perfil{
    width: 300px;
}

.titulo-txt img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit:cover;
    object-position: 0 25%;
}

.div-perfiles {
    padding-left: 5rem;
    padding-right: 5rem;
}

.perfil {
    display: flex;
    align-items: center;

    padding: 1rem;
}

.perfil p {
    padding: 25px;
}

/* GRID PRODUCTOS */ 
.navbar {
    grid-area: navbar;
}

.grid-productos {
    display: grid;
    grid-template-areas: 
    "navbar div-productos div-productos div-productos"
    "navbar div-productos div-productos div-productos";

    grid-template-columns: 2fr 3fr 3fr 3fr;
    width: 90%;    
    margin: 0 auto; /*centrado del grid respecto del padre*/
}

.box-producto-1, .box-producto-2, .box-producto-3, .box-producto-4, .box-producto-5, .box-producto-6 {
    justify-self: center;
    align-self: center;
    margin: 2rem;
}