@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Setup de Variables con root (reemplazado por variables SCSS)
:root{ 
    --gris1: #919191;
    --gris2:  #646464;
    --gris3: #95a5a6;
    --rosa: #FCCEFE;
} */
/* Setup de Variables con SCSS */
/* HEADER */
.cabecera-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-header {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo-maltes {
  height: 50px;
  margin: 1rem;
}

header h1 {
  color: var(--gris1);
  font-size: xx-large;
}

header .sub-header {
  text-align: center;
  padding: 0.5rem;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: #FCCEFE;
  text-decoration: underline;
  text-shadow: 0px 0px 10px #FCCEFE;
}

.cont-navegador {
  background-color: #919191;
}

#navegador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

#navegador li {
  list-style: none;
}

/* VISTA CENTRAL */
.div-productos {
  border: 1px solid white;
  -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
          box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  color: #919191;
  width: 200px;
  text-align: center;
  font-style: italic;
  margin: 20px;
  padding: 1rem;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  /*tiempo de transicion*/
}

.div-productos img {
  height: 200px;
}

.div-productos:hover, div-productos:focus-within {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  /*transformacion*/
}

.bloque-central {
  height: 70vh;
  max-width: 100%;
  background-image: url(../imagenes/imagen-central.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grupo-central {
  height: 50px;
  width: 600px;
  margin: 0px auto;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}

.texto-central {
  /*    padding-top: 20rem;*/
  color: #3f3f3f;
  font-size: x-large;
}

.texto-central h2 {
  padding-bottom: 1rem;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer1;
          animation-name: aparecer1;
  font-weight: bold;
}

.texto-central a {
  text-decoration: none;
  color: #646464;
  font-style: italic;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer2;
          animation-name: aparecer2;
}

.texto-central a:hover {
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 0px 0px 10px #FCCEFE;
}

@-webkit-keyframes aparecer1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes aparecer2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}

.bloque__descuentos {
  background-color: #919191;
}

.bloque__descuentos h2 {
  font-size: x-large;
  color: white;
  padding: 10px;
  margin: 20px 0 0 0;
  text-align: center;
}

/* FOOTER */
footer header {
  font-style: italic;
  font-weight: bold;
  padding-bottom: 5px;
}

footer li {
  list-style-type: none;
  list-style: none;
}

footer a {
  text-decoration: none;
  color: #919191;
}

footer a:hover {
  color: #646464;
  text-decoration: underline;
  text-shadow: 0px 0px 10px #FCCEFE;
  /*font-weight: bold;*/
}

.footers .iconos {
  padding-right: 6px;
}

.footers .footer-1 {
  color: #646464;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
  padding: 5rem;
  margin: 0;
  background: radial-gradient(circle, white 0%, #ededed 100%);
}

.li-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.li-icon p {
  padding: 0;
  margin: 0;
}

.footer-2 {
  background-color: rgba(149, 165, 166, 0.2);
  color: #646464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 250px;
  padding: 4rem;
}

.footer-2 ul {
  padding: 0px;
}

.footer-2 .footer-2c ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-3 {
  background-color: #95a5a6;
  color: black;
  text-align: center;
  padding: 3rem;
}

.footer-3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0 10px 0;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* TABLA */
table {
  font-style: italic;
  border: 1px solid #000;
  border-spacing: 0;
  text-align: center;
  margin: 0 auto;
  /*centrado de tabla*/
}

table th {
  background-color: #f7cd72;
  font-weight: bold;
}

th, td {
  background-color: #fce9c1;
  width: 25%;
}

.iconos {
  height: 20px;
}

header .iconos {
  padding-left: 1rem;
}

/* NAVEGADOR - PRODUCTOS */
#navbar {
  color: #919191;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

#navbar h3 {
  font-style: italic;
  padding-bottom: 10px;
}

#navbar li {
  list-style: none;
}

#navbar a {
  text-decoration: none;
  color: #919191;
}

#navbar a:hover {
  color: #646464;
  text-decoration: underline;
  text-shadow: 0px 0px 10px #FCCEFE;
  /*font-weight: bold;*/
}

/* FORMULARIO */
.contenedor-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-contacto {
  color: #919191;
  font-style: italic;
  padding: 2rem;
}

.formulario-contacto {
  width: 800px;
  padding: 2rem;
}

.div-formulario {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

fieldset {
  padding: 1.5rem;
  color: #646464;
  background: radial-gradient(circle, #ffe7f2 0%, #fce9c1 100%);
  border-radius: 10px;
  font-size: 17px;
}

fieldset h3 {
  padding-bottom: 1rem;
  font-style: italic;
}

fieldset {
  border: 1px solid #646464;
  -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
          box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
}

fieldset .form-label {
  margin-bottom: 0.5rem;
}

fieldset .form-label .field {
  border: solid 1px #919191;
  outline: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
}

fieldset .form-label .field:focus, fieldset .form-label .field:hover {
  border-color: #FCCEFE;
}

.barra-busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.barra-busqueda .form-control {
  border: solid 1px #919191;
  outline: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
  width: 60vh;
  margin-right: 1rem;
}

.form-control:focus, .form-control:hover {
  border-color: #FCCEFE;
}

.form-control:focus {
  border-color: #FCCEFE;
  -webkit-box-shadow: 0 0px 40px -10px rgba(0, 0, 0, 0.45);
          box-shadow: 0 0px 40px -10px rgba(0, 0, 0, 0.45);
}

button, .button {
  border: 1px solid;
  width: 8rem;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  border-color: #919191;
  font-style: italic;
  border-radius: 3px;
}

button:hover, .button:hover {
  background-color: #FCCEFE;
  border-color: #FCCEFE;
  font-weight: bolder;
}

button:focus, .button:focus {
  border-color: #FCCEFE;
  -webkit-box-shadow: 0px 0px 0px 1px #FCCEFE;
          box-shadow: 0px 0px 0px 1px #FCCEFE;
  -webkit-animation: anim-shadow .3s forwards;
          animation: anim-shadow .3s forwards;
}

@-webkit-keyframes anim-shadow {
  100% {
    -webkit-box-shadow: 0px 0px 50px 20px rgba(112, 111, 211, 0);
            box-shadow: 0px 0px 50px 20px rgba(112, 111, 211, 0);
  }
}

@keyframes anim-shadow {
  100% {
    -webkit-box-shadow: 0px 0px 50px 20px rgba(112, 111, 211, 0);
            box-shadow: 0px 0px 50px 20px rgba(112, 111, 211, 0);
  }
}

/* PREGUNTAS FRECUENTES + QUIENES SOMOS */
.preguntas-frecuentes {
  color: #646464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div-pag-preguntas {
  width: 60%;
}

.div-pregunta, .div-pregunta h2 {
  padding: 1rem 0 1rem 0;
}

.mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

.quienes-somos {
  padding: 1rem;
  color: #646464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preguntas-frecuentes li, .titulo-txt li {
  list-style: none;
  font-style: italic;
}

.titulo-txt {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 10px;
  width: 80%;
}

.titulo-txt h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.foto-perfil {
  width: 300px;
}

.titulo-txt img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 25%;
     object-position: 0 25%;
}

.div-perfiles {
  padding-left: 5rem;
  padding-right: 5rem;
}

.perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.perfil p {
  padding: 25px;
}

.perfil h3 {
  text-align: center;
  margin: 1rem;
}

/* GRID PRODUCTOS */
.navbar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: navbar;
}

.grid-productos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "navbar div-productos div-productos div-productos" "navbar div-productos div-productos div-productos";
  -ms-grid-columns: 2fr 3fr 3fr 3fr;
      grid-template-columns: 2fr 3fr 3fr 3fr;
  width: 90%;
  margin: 0 auto;
  /*centrado del grid respecto del padre */
  padding-bottom: 2rem;
}

/* Carrousel */
.container h3 {
  color: #3f3f3f;
  font-size: x-large;
  padding-bottom: 1rem;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer2;
          animation-name: aparecer2;
  font-weight: bold;
}

/* 
.box-producto-1, .box-producto-2, .box-producto-3, .box-producto-4, .box-producto-5, .box-producto-6 {
    justify-self: center;
    align-self: center;
    margin: 2rem;
}
Reemplazado por le comando @each a continuación */
.box-producto-1 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2rem;
}

.box-producto-2 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2rem;
}

.box-producto-3 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2rem;
}

.box-producto-4 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2rem;
}

.box-producto-5 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2rem;
}

.box-producto-6 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2rem;
}
/*# sourceMappingURL=estilos.css.map */